<%- include ('../../partials/header.ejs'  ) %>
<%- include ('../../partials/navbar.ejs'  ) %>
<hr>

<div class="container">
      <div class="card">
        <div class="card-header">
          <h2>Editar Artigos</h2>
          <br>
          <br>
          <br>
        </div>
        <div class="card-body">
          <form  method="POST" action="/articles/update">
            <input class="form-control" type="text" name="title" value="<%= articles.title%>">
            <br>
            <br>
            <br>
            <textarea id="articles" class="form-control" name="body" values="<%= articles.body%>" cols="30" rows="10" ></textarea>
            <br>
            <label>Categorias</label>
            <br>
            <br>
            <select name="category" class="form-control">
                <% categories.forEach((category) => { %>

                        <% if(category.id == articles.categoryId) { %>
                          <option value="<%= category.id %> " selected><%= category.title %></option>
                        <% } else { %>
                          <option value="<%= category.id %>"><%= category.title %></option>
                        <% } %>       
                <% }) %>  
            </select>

            <br>
            
            <button class="btn btn-success">Atualizar</button>
            <br>
            <br>
              <a href="/admin/articles" class="btn btn-primary ms-auto">Voltar</a>
          </form>
        </div>
      </div>
    </div>
</div>
 

<div id="content" style="display: none;">
  <%- articles.body %>
</div>

<%- include ('../../partials/footer.ejs'  ) %>

<script src="/tinymce/tinymce.min.js"></script>

<script>
  tinymce.init({
    selector:"#articles",
    language:'pt_BR',
    plugins:[
      'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons'
    ],
    init_instance_callback:()=>{
      tinymce.get("articles").setContent($("#content").html())
    }
  })
//https://www.tiny.cloud/get-tiny/language-packages/
</script>