<%- include ('../../partials/header.ejs'  ) %>
<%- include ('../../partials/navbar.ejs'  ) %>

<div class="container">
  <br>
  <hr>
  <div class="card">
    <div class="card-header">
      <h2>Editar Categoria</h2>
      <br>
    </div>
    <div class="card-body">
      <form  method="POST" action="/categories/update">
        <input class="form-control" type="text" name="title" placeholder="Definao titulo dacategoria" value="<%= categories.title%>">
        <br>
        <input type="hidden" name="id" value="<%= categories.id %>">

        <br>
        <button class="btn btn-success">Atualizar</button>
        <br>
        <br>
       
    
          <a href="/admin/categories" class="btn btn-primary ms-auto">Voltar</a>

     
        
      </form>
    </div>

  </div>
  
</div>

<%- include ('../../partials/footer.ejs'  ) %>